* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: black;
    color: white;
    overflow-x: hidden; /* Evitar rolagem horizontal */
}

h1, h2, h3 {
    color: #00ff00;
    text-align: center;
}

p, ul {
    font-size: 16px;
    line-height: 1.6;
    margin: 20px;
    text-align: justify;
}

.content {
    margin: 0 auto;
    max-width: 800px;
}

ul {
    list-style-type: disc;
    margin-left: 40px;
}

.icon-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.computer-icon {
    position: relative;
    font-size: 80px;
    color: #00ff00;
}

.hacker-icon {
    position: absolute;
    top: 15px;
    left: 20px;
    font-size: 40px;
    color: red;
}

.header {
    margin-bottom: 40px;
}

.background {
    position: relative;
    min-height: 100vh;
    padding-top: 20px;
    padding-bottom: 50px;
}

.code-lines {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    opacity: 0.2;
    color: #00ff00;
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
    line-height: 1.5;
}

.code-lines.left {
    left: 0;
}

.code-lines.right {
    right: 0;
}

.code-line {
    animation: scroll 5s linear infinite;
}

@keyframes scroll {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(-100%);
    }
}

/* Permitir rolagem */
html, body {
    height: 100%;
    overflow-y: auto; /* Garantir que o conteúdo possa rolar */
    scroll-behavior: smooth;
}
